/* (Mini) reset do CSS para resetar as propriedades mais comuns que são aplicadas pelo navegador, a fim de eliminar possíveis incompatibilidades entre navegadores*/

* {
    margin: 0;
    padding: 0;
    font-size: initial;
    font-weight: initial;
    text-align: initial;
    box-sizing: border-box;    
}

body {

    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    font-size: 32pt    
}

h2 {
    font-size: 22pt;
    margin-top: 10px;
}

h3 {
    font-size: 18pt;
    font-weight:bold;
}

h4 {
    font-size: 16pt;
    font-weight:bold;
}

p, table{
    margin: 20px 0;
    margin-left: 20px;
}

p {
    line-height: 1.5;
    font-size: 14pt;
    margin-left: 20px;
    text-align: justify;    
}

td,th, caption {
    font-size: 14pt;
    
    
}

th {
    font-weight: bold;    
}

td + td, th + th {
    border-left: 1px solid #000;

}


th {
    padding-right: 20px;
}

.valor {
    padding-left: 20px;
}

aside {
    width:auto;
    margin: 15px;
    float: right;
    background-color: lightgray;
  }

hr {
    margin: 20px 0px;
    
}


/* td, tr, th, caption {
    border: 1px solid #000;
}

tr:nth-child(odd) {
    background-color: lightskyblue;
}

tr:nth-child(even), caption{
    background-color: lightgreen;
} */



.container {
    height: 300px;
    background-color: lightsalmon;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

.contido {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 5px;
    border-color: lightslategray;
    border-style: solid;
    border-radius: 10%;   
    margin: 1px; 
    font-weight: bold;
    font-size: 20px;
    text-align: center;

}
/* 
.contido + .contido{
    margin-left: 1px;
} */

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-space-initial {
    justify-content: initial;
}

.justify-content-space-inhreit {
    justify-content: inherit;
}

.flex-direction {
    flex-direction: row;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

.flex-direction-column-inital {
    flex-direction: initial;
}

.flex-direction-column-inhreit {
    flex-direction: inherit;
}

.align-items-row {    
    align-items: normal;  
    flex-direction: row;
}

.align-items-column {    
    align-items: normal;  
    flex-direction: column;
}

.align-items-stretch-column {    
    align-items: stretch;  
    flex-direction: column;
}

.align-items-stretch-row {    
    align-items: stretch;  
    flex-direction: row;
}

.align-items-center-row {    
    align-items: center;  
    flex-direction: row;
}

.align-items-center-column {    
    align-items: center;  
    flex-direction: column;
}

.align-items-flex-start-row {    
    align-items: flex-start;  
    flex-direction: row;
}

.align-items-flex-start-column {    
    align-items: flex-start;  
    flex-direction: column;
}

.align-items-flex-end-row {    
    align-items: flex-end;  
    flex-direction: row;
}

.align-items-flex-end-column {    
    align-items: flex-end;  
    flex-direction: column;
}

.align-items-baseline-row {    
    align-items: baseline;  
    flex-direction: row;
}

.align-items-baseline-column {    
    align-items: baseline;  
    flex-direction: column;
}

.align-items-initial {    
    align-items: initial;  
    flex-direction: row;
}

.align-items-inhreit {    
    align-items: inherit;  
    flex-direction: row;
}

.flex-wrap-nowrap-row {    
    flex-wrap: nowrap;
    flex-direction: row;
}

.flex-wrap-nowrap-column {    
    flex-wrap: nowrap;
    flex-direction: column;
}

.flex-wrap-wrap-row {    
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-wrap-wrap-column {    
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-wrap-wrap-reverse-row {    
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

.flex-wrap-wrap-reverse-column {    
    flex-wrap: wrap-reverse;
    flex-direction: column;
}

.flex-wrap-initial {    
    flex-wrap: initial;
    flex-direction: row;
}

.flex-wrap-inherit {    
    flex-wrap: inherit;
    flex-direction: row;
}

.align-content-row {
    align-content: stretch;
    flex-wrap: wrap;
}

.align-content-column {
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column;
}

.align-content-center-row {
    align-content: center;
    flex-wrap: wrap;
}

.align-content-center-column {
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.align-content-flex-start-row {
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.align-content-flex-start-column {
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.align-content-flex-end-row {
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}

.align-content-flex-end-column {
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
}

.align-content-space-between-row {
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.align-content-space-between-column {
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.align-content-space-around-row {
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.align-content-space-around-column {
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.align-content-space-evenly-row {
    align-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.align-content-space-evenly-column {
    align-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}

.align-content-initial {
    align-content: initial;
    flex-wrap: wrap;
    flex-direction: row;
}

.align-content-inhreit {
    align-content: inherit;
    flex-wrap: wrap;
    flex-direction: row;
}









.container-flex-wrap {
    height: 125px;
    background-color: lightsalmon;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

.box-align-items-row {
    width: 100px;
    height: auto;
    background-color: lightblue;
    border: 5px;
    border-color: lightslategray;
    border-style: solid;  
    margin: 1px; 
    font-weight: bold;
    font-size: 20px;
    text-align: center;     
}

.box-align-items-column {
    width: auto;
    height: 100px;
    background-color: lightblue;
    border: 5px;
    border-color: lightslategray;
    border-style: solid;  
    margin: 1px; 
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.box-align-items-stretch-row {
    width: 100px;
    height: auto;
    background-color: lightblue;
    border: 5px;
    border-color: lightslategray;
    border-style: solid;  
    margin: 1px; 
    font-weight: bold;
    font-size: 20px;
    text-align: center; 
}

.box-align-items-stretch-column {
    width: 100px;
    height: auto;
    background-color: lightblue;
    border: 5px;
    border-color: lightslategray;
    border-style: solid;  
    margin: 1px; 
    font-weight: bold;
    font-size: 20px;
    text-align: center; 
}









